<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cursos Online • Cadastrar Professor</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
	crossorigin="anonymous">
<link rel="canonical"
	href="https://getbootstrap.com/docs/4.5/examples/checkout/">

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.order-md-1 {
	margin: 0 auto;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link href="css/form-validation.css" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a class="navbar-brand" href="/">Cursos <i>Online</i></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExample04" aria-controls="navbarsExample04"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Inicio</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="dropdown04"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="/curso">Curso</a>
							<a class="dropdown-item" href="/aluno">Aluno</a>
							<a class="dropdown-item" href="/professor">Professor</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="dropdown04"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listar</a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
						<a class="dropdown-item" href="/listacursos">Cursos</a> 
						<a class="dropdown-item" href="/listaaluno">Alunos</a>
						<a class="dropdown-item" href="/listaprofessores">Professores</a>
					</div></li>
				<li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-8 order-md-1">
				<h4 class="mb-3">Cadastro de Professor</h4>
				<form class="needs-validation" action="#" method="post"
					th:action="@{/professor}" th:object="${professor}"> 

					<div class="mb-3">
						<label>Nome:</label>
							<div class="input-group">
								<input class="form-control" type="text"
								th:field="*{nome}" required>
							</div>
					</div>
						
						<div class="mb-3">
						<label>CPF:</label>
							<div class="input-group">
								<input class="form-control" type="text"
								th:field="*{cpf}" required>
							</div>
					</div>
					
					<div class="mb-3">
						<label>Email:</label>
							<div class="input-group">
								<input class="form-control" type="email"
								th:field="*{email}" required>
							</div>
					</div>
					
					<div class="mb-3">
						<label>Telefone:</label>
							<div class="input-group">
								<input class="form-control" type="number"
								th:field="*{telefone}" required>
							</div>
					</div>
					
					
					<div class="mb-3">
						<label>Curso:</label>
							<div class="input-group">
							<select name="curso_id" th:field="*{curso}" id="curso_id" class="form-control">
								<option th:each="cursos : ${cursos}"
								th:value="${cursos.id}"
								th:text="${cursos.nome}">
							</select>
							</div>
					</div>
					
					
					
					


					<button style="margin-left: 320px;"class="btn btn-success" type="submit"
						value="getProfessorForm">Cadastrar</button>
				</form>

			</div>
		</div>
	</div>
	
	<section class="" style="margin-top:40px;">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          
          <button type="button" class="btn btn-outline-light btn-rounded">
            Inscreva-se já
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Cursos.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
</html>