<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cursos Online • Listagem de Professores</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a class="navbar-brand" href="/">Cursos <i>Onlines</i></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExample04" aria-controls="navbarsExample04"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Inicio</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="dropdown04"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="/curso">Curso</a>
							<a class="dropdown-item" href="/aluno">Aluno</a>
							<a class="dropdown-item" href="/professor">Professor</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="dropdown04"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listar</a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
						<a class="dropdown-item" href="/listacursos">Cursos</a> 
						<a class="dropdown-item" href="/listaaluno">Alunos</a>
						<a class="dropdown-item" href="/listaprofessores">Professores</a>
					</div></li>
				<li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a>
				</li>
			</ul>
		</div>
	</nav>


	<br>
	<br>
	<table class="table"
		style="width: 80%; text-align: center; margin: auto">
		<thead>
			<tr>
				
				<td scope="col"><b>Professor</b></td>
				<td scope="col"><b>Email</b></td>
				<td scope="col"><b>Telefone</b></td>
				<td scope="col"><b>Curso</b></td>
				<td scope="col"><b>Alterar</b></td>
				<td scope="col"><b>Excluir</b></td>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="professor : ${professores}">
				
				<td th:text="${professor.nome}"></td>
				<td th:text="${professor.email}"></td>
				<td th:text="${professor.telefone}"></td>
				<td th:text="${professor.curso.nome}"></td>
				
				
				
				
				
				<td><a th:href="@{/editando/{id}(id=${professor.id})}"
					class="btn btn-warning">Editar</a></td>
				<td>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  					Apagar
				</button>

<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
				        
				      </div>
				      <div class="modal-body">
				        <p>Tem certeza que deseja remover Professor ?</p>
				      </div>
				      <div class="modal-footer" >
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				        <a th:href="@{'/professor/delete/{id}'(id=${professor.id})}"
								 class="btn btn-danger">Remover</a>
				      </div>
				    </div> 
				  </div>
				</div>
					
					
				</td>
			</tr>
		</tbody>
	</table>
	
	<section class="" style="margin-top:250px;">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          
          <button type="button" class="btn btn-outline-light btn-rounded">
            Inscreva-se já
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Cursos.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
</html>